.botao__agendar__consulta{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px;
  width: 263px;
  height: 52px;
  left: 56px;
  top: 350px;
  background: #00856F;
  border-radius: 40px;
  color: #ffffff;
}
@media screen and (min-width:1120px){
  .botao__agendar__consulta{
    margin-left: 50px;
    margin-bottom: 35px;
  }
}