header{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00856f;
  padding: 2px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  
}
.menu__lateral--cabecalho{
  background-image: url(../img/Icon.png);
}