
.conteudo__principal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 1080px;
  background: #DCE9E2;
}

.paragrafo__principal{
  width: 327px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}



.foto__menu{
  width: 263px;
  height: 342.53px;
  left: 56px;
  top: 456px;
}

.informacoes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 327px;
  height: 470px;
  background: #FFFAF1;
  border: 1px solid #DCE9E2;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: -90px;
  margin-left: 20px;
  }

  .pacientes__atendidos{ 
    padding-top: 30px;
  }

  .anos__mercado{
    padding-bottom: 30px;
  }

  .numeros__informacoes{
    width: 200px;
    height: 62px;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #212529;
  }

.texto__informacoes{
align-self: center;
width: 200px;
height: 24px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #00856F;

}

