/*VERSÃO MOBILE*/

.sessao__servicos {
  width: 100%;
  height: 1200px;
  margin-top: 40px;
  margin-bottom: 80px;
  background: #ffffff;
}
.servicos__oferecidos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1000px;
  margin-top: 20px;
}
.texto__servicos {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #212529;
  margin-top: 20px;
  margin-bottom: 70px;
}
.servico {
  box-sizing: border-box;
  align-self: center;
  padding: 14px;
  width: 327px;
  background: #ffffff;
  border: 1px solid #dce9e2;
  border-radius: 6px;
  background-image: url(../img/Group\ 2.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
.titulo__servicos {
  align-self: flex-start;
  width: 300px;
  height: 24px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #212529;
  margin: 16px 0px;
}
.titulo--sessao__servicos {
  align-self: center;
  font-size: 30px;
  margin: 26px 0px;
  padding-top: 20px;
}
/*Versão Desktop*/
@media screen and (min-width: 1120px) {
  .sessao__servicos {
    align-items: center;
    height: 800px;
    width: 100%;
    margin: 0px;
    background: #ffffff;
  }
  .servicos__oferecidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .titulo-servicos {
    align-self: center;
    font-size: 40px;
    margin: 26px 0px;
  }
  .titulo--sessao__servicos {
    align-self: center;
    font-size: 30px;
    margin: 26px 0px;
    padding-top: 5px;
  }
  .servico {
    width: 347px;
    height: 207px;
    padding: 24px;
    margin-left: 45px;
  }
}
