body {
  color: #ffffff;
  font-family: 'DM SANS', sans-serif;
  text-align: center;
  font-style: normal;
}
h4 {
  align-self: center;
  width: 100%;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #00856f;
}
h1 {
  width: 100%;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: #212529;
}
p {
  color: #495057;
}
a:hover {
  color: #ffffff;
}
a:is(:link, :active, :visited).active {
  border-bottom: 3px solid #ffffff;
}

@media screen and (min-width: 1120px) {
  h1 {
    width: 605px;
    height: 136px;
    padding-top: 10px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    text-align: start;
    color: #212529;
  }
  a:hover {
    color: #ffffff;
  }
  a:is(:link, :active, :visited).active {
    border-bottom: 3px solid #ffffff;
  }
}
